body {
  background: #f0f2f5;
  font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-box{
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.graph-area {
  margin: 30px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.total {
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
}

.danger {
  background: #e11d48;
  color: white;
}

form lable{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input,
form select,
form textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

form button{
    margin-top: 20px;
    padding: 10px 20px;
}